
.square {
  width: 120px;
  height: 120px;
  border: 3px solid rgb(37, 16, 1);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  /* box-shadow: 3px 3px 0px 0px rgb(103, 96, 243) inset; */

  &.center-piece {
    background: #1976d2;
  }


}

/* LARGE */

.tile-font-large {

}

.tile-large {
  width: 70px;
  height: 90px;

  padding: 4px;
}

.tile-content-large {
  width: 60px;
  height: 80px;
  
  border: 3px solid rgb(37, 16, 1);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  margin: 4px;


  &.active {
    cursor: pointer;
  }
}

.tile-content-large:hover {
  background-color: rgb(229, 225, 255);
}

/* SMALL */

.tile-small {
  width: 35px;
  height: 50px;

  padding: 4px;
}

.tile-content-small {
  width: 30px;
  height: 50px;
  
  border: 2px solid rgb(37, 16, 1);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  margin: 1px;


  &.active {
    cursor: pointer;
  }
}

.tile-content-small:hover {
  background-color: rgb(229, 225, 255);
}